body{
    background-color: aquamarine;
}

.input-container {
    width: 1100px;
    padding:30px 30px;
    border-radius: 10px;
    margin: 20px auto;
    background-color: beige;
}

.input-container label {
    margin-right: 20px;
    font-size: 22px;
    font-weight: bold; 
}

.users-container {
    background-color: antiquewhite;
    border-radius: 10px;
    padding:30px 30px;
    width: 1100px;
    margin:auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.users-image{
    height: 200px;
    width: 200px;
    background-size: cover;
}

.user-container{
    border:1px solid black;
    text-align: center;
    padding: 10px;
}


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.user-title, .user-gender, .user-phone {
    margin: 10px;
}